<nav class="bg-white w-screen h-20 px-40 flex justify-between items-center absolute">
  <a routerLink="/" class="nav-link">Home</a>
  <a routerLink="/" class="nav-link">Events</a>
  <a routerLink="/" class="nav-link">Committee</a>
  <a routerLink="/" class="nav-link">Sponsor</a>
  <a routerLink="/" class="nav-link">About</a>
  <a routerLink="/" class="nav-link">Membership</a>
</nav>
<!-- router-outlet is where the route data goes -->
<router-outlet />
<!-- router-outlet is where the route data goes -->
<footer>

</footer>
