@import "tailwindcss";

@font-face {
  font-family: "Barakat";
  src: url("/public/fonts/Barakat/Barakat-BF65f54fe8ba021.ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --aston-blue: #66D9D6;
  --glass: rgba(255, 255, 255, 0.12);
}

@layer base {
  :root {
    color: white;
  }
}

@utility nav-link {
  @apply p-2 text-lg text-white hover:text-white/80 hover:translate-y-0.5 transition duration-150 font-mono;
}

@utility active-nav-link {
  @apply flex items-center justify-center bg-gradient-to-tl from-(--aston-blue) to-blue-600 rounded-2xl ;
}

.logo {
  font-family: Barakat, monospace;
}
